
html {
  background: url('images/background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

p {
  color: rgb(75, 53, 45);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 1px 1px 7px 1px #0000000a;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px 40px;
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 22vh;
}

.close {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color:rgb(75, 53, 45);
}
